{% include 'navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Matcher</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/matchresume.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header text-center">
                <h2>Job Description and Resume Matcher</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'matcher' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="job_description">Job Description:</label>
                        <textarea class="form-control" id="job_description" name="job_description" rows="5" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="resume">Upload Resume:</label>
                        <input type="file" class="form-control" id="resume" name="resume" multiple required accept=".pdf, .docx, .txt">
                    </div>
                    <button type="submit" class="btn btn-success">Match Resume</button>
                    <a href="{% url 'upload_resume' %}" class="btn btn-secondary">Go Back</a>
                </form>
                {% if message %}
                    <div class="alert alert-danger mt-4">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}
                {% if similarity_scores %}
                    <div class="alert alert-info mt-4">
                        <h4>Similarity Scores:</h4>
                        <ul>
                            {% for score in similarity_scores %}
                                <li>{{ score.resume_name }}: {{ score.similarity_score }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
